// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import '~@fortawesome/fontawesome-free/css/all.min.css';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.header {
    .logo {
        max-width: 250px;
        @media (max-width: 400px) {
            max-width: 180px;
        }
    }
}

.btn-green {
    background-color: #99bc3c;
    color: #FFF;
    &:hover {
        background-color: #1f4520;
        color: #FFF;
    }
}

.category {
    .image {
        width: 100%;
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

.products {
    .product {
        .image {
            width: 100%;
            height: 200px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
}

.product {
    .main-image {
        max-width: 100%;
        height: 500px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .thumb {
        width: 100%;
        height: 105px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .price {
        font-size: 30px;
        font-weight: bold;
    }
}

.card {
    &.category {
        max-width: 253px;
    }
    &.product {
        max-width: 253px;
    }
}

.nav-shopping-cart {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
    position: relative;
    top: 1px;
    &:hover {
        color: rgba(0, 0, 0, 0.2);
        text-decoration: none;
    }
}

.language-selector {
    img {
        margin-right: 10px;
        height: 25px;
    }
}

.shopping-cart {
    .product {
        .image {
            width: 100px;
            height: 80px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .name {
            font-weight: bold;
        }
    }
}

.translate-wrapper {
    position: relative;
    display: inline-block;
    border: #DD0000 dotted 1px;
}

.translate-field {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.9rem;
}
