// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~dropzone/dist/min/dropzone.min.css';
@import '~bootstrap-colorpicker/dist/css/bootstrap-colorpicker';
@import '~@fancyapps/fancybox/dist/jquery.fancybox.min.css';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html {
    min-height: 100%;
}

body {
    @media (min-width: 768px) {
        padding-bottom: 215px;
    }
    min-height: 100vh;
    position: relative;
    font-size: 1.1rem;
}

.modal-content {
    font-size: 0.9rem;
    a {
        color: blue;
    }
}

h1 {
    color: #f68422;
}

a {
    color: #97a005;
}

.header {
    .logo {
        max-width: 250px;
        @media (max-width: 400px) {
            max-width: 180px;
        }
    }
}

.btn-green {
    background-color: #99bc3c;
    color: #FFF;
    &:hover {
        background-color: #1f4520;
        color: #FFF;
    }
}

.category {
    .image {
        width: 100%;
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

.products {
    .product {
        .image {
            width: 100%;
            height: 200px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
}

.product {
    .main-image {
        max-width: 100%;
        height: 500px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .thumb {
        width: 100%;
        height: 105px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .price {
        font-size: 30px;
        font-weight: bold;
    }
}

.card {
    &.category {
        max-width: 253px;
        @media (max-width: 720px) {
            display: inline-block !important;
            flex: none;
            max-width: 100%;
        }
    }
    &.product {
        max-width: 253px;
        @media (max-width: 720px) {
            display: inline-block !important;
            flex: none;
            max-width: 100%;
        }
    }
}

.nav-shopping-cart {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
    position: relative;
    top: 1px;
    &:hover {
        color: rgba(0, 0, 0, 0.2);
        text-decoration: none;
    }
}

.language-selector {
    img {
        margin-right: 10px;
        height: 25px;
    }
}

.shopping-cart {
    .product {
        .image {
            width: 100px;
            height: 80px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .name {
            font-weight: bold;
        }
    }
}

.footer {
    @media (min-width: 768px) {
        position: absolute;
        bottom: 0;
    }
    width: 100%;
    a {
        color: #FFF;
    }
    .contact-details {
        background-color: #99bc3c;
        color: #FFF;
        i {
            font-size: 40px;
        }
    }
    .copyright {
        background-color: #1e451f;
        color: #FFF;
    }
}

.translate-wrapper {
    position: relative;
    display: inline-block;
    border: #DD0000 dotted 1px;
}

.translate-field {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.9rem;
}

.block-actions {
    display: none;
}

.block {
    &:hover {
        .block-actions {
            display: block;
            position: absolute;
            top: 5px;
            right: 25px;
            a {
                display: inline-block;
                padding: 5px;
            }
        }
    }
}

.dropzone {
    border: 1px solid rgba(0, 0, 0, 0.125);
    background: rgba(0, 0, 0, 0.03);
    padding: 10px;
    cursor: pointer;
    text-align: center;
}

.page-blocks {
    iframe {
        @media (max-width: 1198px)
        {
            width: 100%;
        }
    }
}

.sold-out {
    position: absolute;
    z-index: 10;
    top: 35%;
    width: 100%;
    transform: translateY(-35%);
    padding: 10px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    background: rgba($color: red, $alpha: 0.5);
}

.sold-message {
    position: absolute;
    z-index: 10;
    top: 35%;
    width: 100%;
    transform: translateY(-35%);
    padding: 10px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    background: rgba($color: #99bd3c, $alpha: 0.7);
}

.website-popup {
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    p {
        margin: 0;
    }
    a:hover {
        color: #FFF;
    }
}

.gallery {
    .main-image {
        width: 100%;
    }

    .gallery-thumb {
        max-width: 145px;
        display: inline-block;
        height: 125px;
        width: 145px;
        background-size: cover;
        background-position: center;
    }
}
